 {%- assign social = site.minima.social_links -%}

 <a rel="me" href="mailto:{{ social.email | cgi_escape | escape }}" title="{{ social.email | escape }}" target="_blank">
    <svg class="svg-icon" viewBox="0 0 125 100" >
        <path d="M60,0 l50,0 a10,10 0 0,1 7,17 l-50,50 a10,10 0 0,1 -13,0 l-50,-50 a10,10 0 0,1 7,-17z"/>
        <path d="M60,90 l54,0 a10,10 0 0,0 7,-7 l0,-60 -50,50 a15,15 0 0,1 -21,0 l-50,-50 0,60 a10,10 0 0,0 7,7z"/>  
    </svg>
</a>
<a rel="me" href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}" title="{{ social.linkedin | escape }}" target="_blank">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
    </svg>
</a>
<a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}" target="_blank">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
    </svg>
</a>